{% extends 'core/base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="product w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Success</h1>
        
        <p>Thank you for making the purchase!</p>
    </div>
</div>
{% endblock %}