{% extends 'core/base.html' %}

{% block title %}Add product{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="products w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Add product</h1>

        <div class="w-full md:pr-6">
            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 uppercase text-lg">Product information</h2>

                <form action="" class="space-y-3"  method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}
                    
                    <div>
                        <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="summary w-full md:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5">Little guide</h2>

        <p><class="text-lg"><strong>Slug</strong> -> name lowercase separated by - (example: eminem-hoodie-black)</p>
        <p><class="text-lg"><strong>Price</strong> -> (example: 65.5€ = 6550)</p>
        <p><class="text-lg"><strong>Image</strong> -> for better result, only .jpg 500x500 px</p>

    </div>

</div>
{% endblock %}