<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="#"> <!--error favicon-->
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | Mercho</title>
    </head>
    
    <body>
        <nav class="border-b border-gray-300">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">
                    <a href="{% url 'frontpage' %}" class="py-4 text-lg text-purple-500 font-semibold">Mercho</a>

                    <ul class="flex items-center space-x-4">
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="menu-right flex items-center space-x-4">

                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'register' %}">  <!--signup-->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                        </svg>
                        </a>
                    {% endif %}


                    {% if request.user.is_authenticated %}
                        <p class="py-4 text-lg text-purple-500 ">Hi {{ request.user.username }}</p>
                    {% endif %} 


                    <a href="{% url 'myaccount' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                          
                    </a>
                    
                    {% if request.user.is_anonymous or user.is_consumer %}
                        <div 
                            hx-get="{% url 'hx_menu_cart' %}"
                            hx-trigger="update-menu-cart from:body"
                            hx-swap="innerHTML"
                        ><!--ajax-->
                            {% include 'cart/partials/menu_cart.html' %}
                        </div>
                    {% endif %}

                    
                    {% if user.is_supplier %}
                        <a href="{% url 'add_product' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>  
                        </a>
                    {% endif %}

                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-gray-100">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0">
                    <h2 class="mb-5 uppercase text-lg">About us</h2>
                
                    <p class="text-gray-700">A simple little e-commerce to make our users happy!</p>
                </div>
            
                <div class="footer-right">
                    <h2 class="mb-5 uppercase text-lg">Social links</h2>

                    <ul class="space-y-2">
                        <p class="text-gray-700">We will soon open our personal account on the main social networks</p>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/htmx.org@1.7.0"></script> <!--htmx-->
        {% block scripts %}
        {% endblock %}
    </body>
</html>