{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to Mercho e-commerce</p>

        <p class="mb-10 text-white">We sell products related to pop, rap and rock</p>

        <a href="{% url 'shop' %}" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-gray-200">Start shopping</a>
    </div>
</header>

<br>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <h2 class="py-4 text-lg text-purple-500 font-semibold">New entries</h2>
    <div class="products flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>

    <br>
    <br>

    {% if request.user.is_authenticated and user.is_consumer %}
        <h2 class="py-4 text-lg text-purple-500 font-semibold">You may also be interested</h2>   <!--based on the consumer's favorite genres-->
        <div class="products flex items-center flex-wrap">

            
            <!--{% for order in orders.all %}   based on the orders of the consumer

                {% for item in order.items.all %}

                    {% for product in random_products %}

                        {% for category in categories %}

                            {% if item.product.added_by == product.added_by and product.category == category %}   

                                {% include 'product/partials/product_list_item.html' %}

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}-->


            {% for product in random_products %}  <!--all_products (no new products only)-->
                {% for category in categories %}
                    {% if product.category == category %}
                        {% include 'product/partials/product_list_item.html' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
        </div>
    {% endif %}
</div>
{% endblock %}