{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Sign up</h1>
        <a type="button" class="py-4 px-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700" href="{% url 'consumer_register' %}">I am a consumer</a>
        <a type="button" class="py-4 px-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700" href="{% url 'supplier_register' %}">I am a supplier</a>
    </div>
</div>
{% endblock %}