{% if item %}
    <div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        <a href="/shop/{{ item.product.slug }}/" class="w-1/4">  
            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
        </a>

        <div class="w-3/4 pl-6">
            <div class="flex justify-between">
                <a href="/shop/{{ item.product.slug }}/" class="text-lg">{{ item.product.name }}</a>  

                <span class="mb-6 pt-1 text-gray-400">€ {{ item.total_price }}</span>
            </div>

            <hr>

            <div class="quantity mt-6 flex items-center space-x-4">
                <a 
                    class="p-3 bg-gray-100"
                    hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >
                    -
                </a>
                <span>{{ item.quantity }}</span>
                <a 
                    class="p-3 bg-gray-100"
                    hx-get="{% url 'update_cart' item.product.id 'increment' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >
                    +
                </a>
            </div>
        </div>
    </div>
{% endif %}